{% extends 'base.html.twig' %}

{% block title %}{{ articles.article }}{% endblock %}
{% block body %}
<h1>{{ articles.article }}</h1>
<p>{{ articles.deskripsi }}</p>
<a href="/article">goback</a>
{% endblock %}
